{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<h2>Connexion administrateur</h2>

		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<form method="post" action="{{ path('admin_login') }}" data-turbo="false">
			<div class="mb-3">
				<label>Email</label>
				<input type="email" name="_email" value="{{ last_username }}" required class="form-control">
			</div>
			<div class="mb-3">
				<label>Mot de passe</label>
				<input type="password" name="_password" required class="form-control">
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button class="btn btn-primary">Connexion</button>
		</form>
	{% endblock %}
